/*
*, html {
    padding: 0;
    margin: 0;
    font-family: DejaVu Sans !important;
}
body {
    font-family: DejaVu Sans !important;
    padding: 50px 15px;
    margin: 0;
    height: 100%;
    background: #FFF !important;
    line-height: 1.15 !important;
}

body:before, body:after {
    display: none !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: DejaVu Sans !important;
    margin: 10px 0 !important;
}
h1 {
    font-size: 32px;
    line-height: 32px;
    font-weight: bold;
}
h2 {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
}
h3 {
    font-size: 15px;
    line-height: 15px;
}
h4 {
    font-size: 14px;
    line-height: 14px;
}
h5 {
    font-size: 13px;
    line-height: 13px;
}
h6 {
    font-size: 12px;
    line-height: 12px;
}

header, footer {
    text-align: center;
    padding: 5px 25px !important;
    background-color: #F9F9FF;
    height: 20px;
    color: #000;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0;
}
header { top: 10px; }
footer { bottom: 10px; }

.title {
    text-transform: uppercase !important;
}

.table th {
    background-color: #eee !important;
    text-align: center;
    padding: 5px;
    color: #000 !important;
    border-color: #ddd !important;
}

.table td {
    padding: 4px;
}

.barcode .bcimg {
    margin-top: 10px;
    margin-right: 10px;
}
.qrimg {
    display: none;
}

.page {
    page-break-after: always;
}

@page { margin: 100px 25px; }
.pagenum:before { content: counter(page); }
*/
*, html,body{font-family: 'Open Sans', sans-serif!important;}
		body{overflow-x: hidden;background-color: #ddd;}
		.back_bg{background-color: #ddd;}
		.invoice-wrapper{width: 800px;margin: 0 auto;font-family: 'Open Sans', sans-serif!important;background-color: #fff;padding: 5px;}
		.invoice-wrapper_ct{width: 600px;margin: 0 auto;font-family: 'Open Sans', sans-serif!important;background-color: #fff;margin-bottom: 50px;}
		.box_bg{background-color:#EFB71C;padding: 5px;border-bottom: 5px solid #333; -webkit-print-color-adjust: exact; }
		 h3{font-size: 22px;font-weight: bold;font-family: 'Open Sans', sans-serif!important;margin: 10px 0px;}
			h1{font-size: 45px;font-weight: bold;font-family: 'Open Sans', sans-serif!important;margin: 10px 0px;}
		.box_bg p{font-style: italic;font-size: 14px;font-weight: bold;}
		.total_amt{margin-top: 25px;border: 1px solid #ccc;padding: 10px;}
		.breakup h4{background-color: #EFB71C;padding: 5px;font-weight: bold;}
		.breakup td{padding: 2px;}
		.breakup table tr td{color: #333;padding: 2px;font-weight: bold;}
		.bok_de{background-color:#EFB71C;color: #333;padding: 2px;margin-top: 15px;font-size: 16px;font-weight: bold;}
		.foot_bg{background-color: #4a3805;color: #fff;padding: 5px;}
		.foot_bg p{margin-bottom: 5px;}
		@media print{
			
			#header,#footer{display: none!important;}
			@page { margin: 0; }
  			body { margin: 10px 0px 10px 0px; }
			.box_bg{background-color:#EFB71C!important;padding: 5px;border-bottom: 5px solid #333; -webkit-print-color-adjust: exact; }
			.breakup h4{background-color: #EFB71C!important;padding: 5px;font-weight: bold;-webkit-print-color-adjust: exact;}
			.bok_de{background-color:#EFB71C!important;color: #333;padding: 2px;margin-top: 15px;font-size: 16px;font-weight: bold;-webkit-print-color-adjust: exact;}
			.foot_bg{background-color: #4a3805!important;color: #fff!important;padding: 5px;-webkit-print-color-adjust: exact;}
			.foot_bg p{color: #fff!important;-webkit-print-color-adjust: exact;}
		}